API_ID=10857228
API_HASH=43ae0103213c9005cbbd5dac4bf513d2
BOT_TOKEN=5298482200:AAHpqU_OCRa3ehsjhxGeaU_2kY2TbL-dMtc
MONGO_DB_URI=mongodb+srv://moni2002:moni2002@cluster0.nzvmpxd.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID=-1001608968821
MUSIC_BOT_NAME=MIRACHLE MUSIC
OWNER_ID=1252143207
STRING_SESSION=BQBSJ6s3aQun2uOsmNvQfHf3PJH8ZONTWcMKeO7kBGvLEBL_o9FgSUGy9FlmS79dY6iweErL5_M45AiMG2wPtQmWVmzKOe6gUmLZAgke3o1PBiW_PZmZLjcSI4Squ8s5caMRvEIc0b-71ZWezfgRXK4tyudkA7sB7sjKt_yzGrmcZldGs6j59j3-_SNGzA0Keohscb_Ze-ZHUqzik-V2yblcqJs3-d8vAMiF9BpEAEXHrDPf6MZqLLXUIaKiI7oUtvk8QdFl83zEa8GHrqEyVDApTlvP6wZ3fAwrikXKinuhHtGDxdUpSF1_PYLxvd5HsXRigMo9bumD0Tbq_UCd1K_JAAAAAEqiMGcA
